<!DOCTYPE html>
<html>

<head>
  
  <title>Energy Plant Optimizator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/relaisEv.js">// not used, dont work</script>








  <style>
    #myDIV {
      position: absolute;
      background-color: coral;
      color: black;

    }

    #myDIV1 {
      position: absolute;
      color: black;

    }
    #myDIV2 {
      position: absolute;
      color: black;

    }

    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    /* Dashed border */
    hr.dashed {
      border-top: 3px dashed #bbb;
    }


    /* Solid border */
    hr.solid {
      border-top: 3px solid #bbb;
    }
  </style>

</head>

<body>
  <div class="container-fluid">

    <h1 style="text-align:center"> Ottimizzazione del rendimento di Impianti con Pompa di calore e FotoVoltaico </h1>
    nb never start controller on old server browsersession page 
    <br>
    <form id="loginc">
      <p> section not used :
        user <input type="text" id="user" name="user" value="" size="15" oninput="loginhand_()"> ,&ensp;&ensp;&ensp;&ensp;
        password: <input type="text" id="password" name="password" value="" size="10" oninput="loginhand_()">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
        <input type="button" name="button" value="Set Trigger Values" onClick="loginhand(this.form)">

      </p><br>
    </form>
    <br>
    Nome Impianto da Controllare: <input type="text" id="myTempl" value="" size="15" oninput="setprname()"> ,
    feature(urlencoded): <input type="text" id="myFeat" value="" size="10" oninput="setprname()">
    <br><br> <button type="button" onclick="startctl()">start controller</button> <br>

    <div id="VDM001" style="display:none">


      <div class="row">
        <div class="col-sm-4" style="background-color:lavender;">

          <div style="background-color:lavenderblush;">
            <h3> &nbsp; &ensp; &emsp; PdC Triggers:</h3>
            <form id="triggers">
              <p><input type="checkbox" id="PdCTrig" name="PdCTrig"> Temperatura Est. &nbsp;&nbsp;&ensp;&ensp; value
                <input type="number" id="temp" name="temp" placeholder=9 size="4"></p><br>
              <p><input type="checkbox" id="PdCTrig1" name="PdCTrig1"> Potenza FV &nbsp;&nbsp;&nbsp;&ensp;
                &ensp;&ensp;&ensp;&ensp; from  <input type="number" id="FVPower" name="FVPower" placeholder=50
                  size="4"> % &ensp;&ensp;&ensp;&ensp;
                for next  <input type="number" id="Tmax" name="Tmax" placeholder=2 size="2"> hours &ensp;
                &ensp;&ensp;&ensp;&ensp;
                T int Max <input type="number" id="Tmax" name="Tmax" placeholder=23 size="4"> &ensp;
                <br>&ensp;&ensp;&ensp;&ensp; &ensp;&ensp;&ensp; Evitare Energia in Rete (%) <input type="number"
                  id="Psav" name="Psav" placeholder="80" size="4">
                  <br>&ensp;&ensp;&ensp;&ensp; &ensp;&ensp;&ensp; Battery Savings con Anticipo Consumi, from 
                <input type="number" id="Bsav" name="Bsav" placeholder="80" size="4"> %
              </p>
            </form>


            <script>
              for (var x = 0; x <= 27; x++) {
                document.write("<br>")
              } 
            </script>
          </div>
          <br>

          <hr class="solid">

          <div style="background-color:rgb(243, 205, 240);">
            <form id="triggers2">
          <h3> &nbsp; &ensp; &emsp;
           
            <select name="ei" id="ei">
              <option value="W" selected>Winter</option>
              <option value="S">Summer</option>
            </select>
             
             Triggers:</h3>
          
          <p><input type="checkbox" id="Tgiorno" name="Tgiorno"> Termostato 1: HT zona giorno &ensp; delay (hours) <input type="number"
              id="delay1" placeholder=1 size="4" name="Dgiorno">

        <br> &nbsp; &ensp; &emsp;
        program:  <input type="text" id="PGMgiorno" name="PGMgiorno" value='{"8:30":25,"17:00":22}' size="30" oninput="setprname1(1,this.value)"> , valid JSON: 
        <textarea id="validate1" name="valid1" rows="1" cols="5"></textarea>,
        <br>&nbsp; &ensp;&nbsp; &ensp;  waiting pv tollerance: <input type="number" id="TgiornoTollerance" name="TgiornoTollerance" placeholder="1.5" size="3"> gradi 
        <br><br>&nbsp; &ensp;&nbsp; &ensp;  manual set: <input type="number" id="TgiornoMan" name="TgiornoMan" placeholder="20" size="4"> validity: <input type="number" id="TgiornoVal" name="TgiornoVal" placeholder="3" size="2"> h
 
      </p>
      <br><br>
          <p><input type="checkbox" id="Tnotte" name="Tnotte"> Termostato 2: HT zona notte &ensp; delay (hours) <input type="number"
              id="delay2" placeholder=1 size="4">
              <br> &nbsp; &ensp; &emsp;
              program:  <input type="text" id="PGMnotte" name="PGMnotte" value='{"8:30":20,"17:00":22}' size="30" oninput="setprname1(2,this.value)"> , valid JSON: 
              <textarea id="validate2" name="valid2" rows="1" cols="7"></textarea>,&nbsp; tollerance: <input type="number" id="TnotteTollerance" name="TnotteTollerance" placeholder="0.7" size="3"> 
              <br>&nbsp; &ensp;&nbsp; &ensp;  manual set: <input type="number" id="TnotteMan" name="TnotteMan" placeholder="20" size="4"> validity: <input type="number" id="TnotteVal" name="TnotteVal" placeholder="3" size="2"> h
              
            </p>

            <br><br>
            <p><input type="checkbox" id="Tacs" name="Tacs"> Termostato 4: HT zona acs &ensp; delay (hours) <input type="number"
                id="delay4" placeholder=1 size="4">
                <br> &nbsp; &ensp; &emsp;
                program:  <input type="text" id="PGMacs" name="PGMacs" value='{"8:30":20,"17:00":22}' size="30" oninput="setprname1(4,this.value)"> , valid JSON: 
                <textarea id="validate4" name="valid4" rows="1" cols="7"></textarea>,&nbsp; tollerance: <input type="number" id="TacsTollerance" name="TacsTollerance" placeholder="0.7" size="3"> 
                <br>&nbsp; &ensp;&nbsp; &ensp;  manual set: <input type="number" id="TacsMan" name="TacsMan" placeholder="20" size="4"> validity: <input type="number" id="TacsVal" name="TacsVal" placeholder="3" size="2"> h
                
              </p>
  

            devmapping:  <input type="text" id="mapping" name="mapping" value='==&&state.devmapping=[0,1,2,3,-1,5]' size="30" > 
            probmapping:  <input type="text" id="probMapping" name="probMapping" value='==&&state.probmapping=[0,1,2]' size="30" > 
           

          </form>
          </div>

        </div>
        <div class="col-sm-4" style="background-color:lavenderblush;">
          <h2 style="text-align:center"> Piano Attivazione PdC </h2>
          l'ANTICIPO dei consumi ottenuta con l'attivazione della PdC, nel periodo di massima insolazione, permette
          l'incremento virtuale della capacità della batteria evitandogli un ciclo di vita.
          <br>il risparmio è una combinazione di:
          <ul>
            <li>costo di un ciclo della vita della batteria </li>
            <li>costo dell'energia assorbita dalla rete pari al incremento virtuale di capacità </li>
            <li>mancata produzione di energia Fv per il degrado di rendimento per le fredde temperature serali</li>
          </ul>
          l'ANTICIPO dei consumi viene realizzato attivando la PdC quando l'energia fotovoltaica diventa disponibile, aumentando al più di 1.5 gradi le temperature programmate
          <div id="myDIV1">
            <h2> state: <textarea id="activate" name="ACTIVATED" rows="1" cols="10">NOT ACTIVE</textarea></h2>
          </div>
          <br><br><br><br><br>


          <form>
            <p>Please select your favorite Model to preset triggers:</p>
              <input type="radio" id="SBattery" name="Mod" value="SB">
              <label for="SBattery">Estensione della Vita della Batteria</label><br>
              <input type="radio" id="AGrid" name="Mod" value="nogrid">
              <label for="AGrid">Minima Dispersione della produzione di FV in Rete</label><br>
              <input type="radio" id="jield" name="Mod" value="jield">
            <label for="AGrid">Massimizzazione rendimenti PdC durante le ore più calde</label><br>
              <input type="radio" id="Both" name="Mod" value="Both">
              <label for="Both">Ottimizzazione Media dei Criteri Precedenti</label><br>
            <p>
              &emsp;per questo ultimo criterio, dare :
            <ul>
              <li>- costo medio kWH: <input type="number" id="ckwh" name="ckwh" placeholder=0.4 size="4"><br>
              </li>
              <li>- costo medio gas a m**3: <input type="number" id="cm3" name="cm3" placeholder=1.1 size="4"><br>
              </li>
            </ul>
            </p>
            <br>
            <input type="button" name="button" value="Set Trigger Values" onClick="testResults(this.form)">
          </form>


          <br>
          <p>Please select the daily schedule to run anticipate algo with triggers set:</p>
          <p> ora inizio &ensp; &nbsp;&nbsp;&nbsp;<input type="number" id="hourin" placeholder=9 size="4"></p>
          <p> ora fine &ensp;&ensp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" id="hourout" placeholder=15 size="4">
          </p>
          <p> ripeti ogni &emsp; <input type="number" id="hourinterval" placeholder=1 size="4"> minuti</p>

          <br>
          <p style="text-align:center"><button type="button20" onclick="startrep()"
              style="background-color:rgb(29, 235, 29)" ;> start energysaving </button> &ensp; &ensp; &ensp;
            <button type="button21" onclick="stoprep()" style="background-color:red;"> stop energysaving </button>
          </p>



          <hr class="solid">
          <div style="background-color:rgb(243, 205, 240);">
          <h3> &nbsp; &ensp; &emsp; Temperature Control </h3>

          <div id="myDIV2">
            <h2> state: <textarea id="programming" name="ACTIVATED1" rows="1" cols="10">NOT ACTIVE</textarea></h2>
            
             T rilevate: <input form="triggers2" type="text" id="lastT" name="lastT" placeholder="ultime temperature"
            size="16"> &ensp;&ensp;
            <br>

            <p  id="actZones" >zone attive: nessuna</p>
          </div>
          <br><br><br><br><br><b><br>


          <form>
            <p>todo:Please select the Temperature Control system:</p>
              <input type="radio" id="ther" name="ctl" value="ther">
              <label for="ther"> this system will control the programmed temperature using sensors</label><br>
              <input type="radio" id="AGrid" name="ctl" value="nogrid">
            <label for="ther"> this system will import temperature programs from thermostats</label><br>
             
            <br>
            <input type="button" name="button" value="Set Trigger Values" onClick="testResultsProg(this.form)">
          </form>

          <p>Please select the daily schedule to run temperature control with triggers set:</p>
          <p> ora inizio &ensp; &nbsp;&nbsp;&nbsp;<input type="number" id="hourin2" placeholder=9 size="4"></p>
          <p> ora fine &ensp;&ensp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" id="hourout2" placeholder=15 size="4">
          </p>
          <p> ripeti ogni &emsp; <input type="number" id="hourinterval2" placeholder=1 size="4"> minuti</p>

          <br>

          <br>
          <p style="text-align:center"><button type="button23" onclick="startprg()"
              style="background-color:rgb(29, 235, 29)" ;> start temperature control </button> &ensp; &ensp; &ensp;
            <button type="button24" onclick="stopprg()" style="background-color:red;"> stop temperature control </button>
          </p>
          </div>

        </div>
        <div class="col-sm-4" style="background-color:lavender;">

          <h2 style="text-align:center"> Relays Status: </h2>

          <div class="row">
            <div class="col-sm-3" style="background-color:lavender;">
            

              <div class="grid" id="pumplist">Current status:<br>

              </div>
            
            
            </div>
            <div class="col-sm-2" style="background-color:lavenderblush;"> 
              <div id="VDM001x" style="display:block">
            
  
              <div class="grid" id="manlist">Set Manually<br>

              </div>   
            
              </div>
            
            </div>


            <div class="col-sm-7" style="background-color:lavenderblush;">
            

              <div class="grid" id="mansetlist">Choose on/off:<br>
 
              </div>  
            
            
            
            </div>
          </div>


          <hr class="solid">
          <h2 style="text-align:center"> General Status:</h2>
          <p><label for="w3review2">legenda:</label>
          <ul>
            <li>
              anticipate: if anticipate algo is currently running, show its launch params (ex: triggers), 
              
                <br> used  to recover anticipate algo scheduling ( scheduling is started by checkFactory.repeatcheckxSun() in event 'repeatcheckxSun')
                <br> set by setanticipateflag() called in event 'repeatcheckxSun' just after checkFactory.repeatcheckxSun()
                <br> cleared in event 'stopRepeat' by  setanticipateflag(false,'anticipate')
                
                          </li><li>
              obsolete: anticipating: dati circa l'ultimo anticipate algo lanciato, algo param set in ... and also in in anticipate() (the algo launched by execute event 'startcheck') using triggers
            </li><li>
              lastAnticAlgo :   set by anticipate() (if succeeded) as reason to apply anticipate action  and result actions (pumps relays)
              <br>  anticipate() is major pgm in the algo launched by execute event 'startcheck') using triggers
               
            </li><li>
              lastRunnedProcedure: last anticipate/program internal execute result
            </li><li>
              program: if program algo is currently running show its launch params, 
              <br> set by setanticipateflag() called in .....

            </li><li>

              lastProgramAlgo :  also set by program() as reason to apply anticipate action (pumps relays, if succeeded)
              <br>  anticipate() is major pgm in the algo launched by execute   event 'startprogrammer' handler: repeatHandler1

            </li>

            </li>
          </ul>
          
          </p>
          <p><label for="w3review">ctl state:</label></p>
          <textarea id="w3review" name="w3review" rows="30" cols="60"></textarea>
          <br>
        </div>
      </div>
    </div>

    <!-- old : src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js" 
 include socket.io client side script -->
    <!-- see   https://socket.io/get-started/chat/#integrating-socketio
    include socket.io client side script downloading the client part in socket.io node_module. must find a cnd if want ! -->
  </div>
  <script src="/socket.io/socket.io.js"></script>




  <script>



window.addEventListener('beforeunload', function (event) {
    sessionStorage.removeItem('__lock');
});

if (sessionStorage.getItem('__lock')) {
    sessionStorage.clear();
    console.warn('Found a lock in session storage. The storage was cleared.');
}

sessionStorage.setItem('__lock', '1');

//var scope = < %=scope% > ; // istead of <script src='scope.json', so in js get some content with scope.....  ex scope.
                          // error : must be srtingified the parsed !, so :'JSON.parse('< %-JSON.stringify(user)%   >');
// var user = '< %-user.toString()%   >';// // we do not need to pass user: .emit('init',user)
                                    // because user is available in session ! see socket.on('connection')


    let lastState;// filled in .on('status',)
    const al = false;//true;// false; // debug
    // see https://www.w3schools.com/jsref/prop_style_right.asp  https://www.w3schools.com/howto/howto_css_split_screen.asp
    //        https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_style_background
    // https://www.w3schools.com/css/tryit.asp?filename=trycss_form_textarea
    // https://www.w3schools.com/bootstrap4/bootstrap_grid_basic.asp
    document.getElementById("myDIV1").style.right = "20px";
    document.getElementById("myDIV2").style.right = "20px";


    // get a socket connection only after login ! then can manage a plant : so put socket creation after login (fter got response and its token)
    var socket = io(); //load socket.io-client and connect to the host that serves the page .what path ? 
                      //  from https://stackoverflow.com/questions/4753957/socket-io-authentication
                        //  io.connect('localhost:3000', { path: socketPath }); 
                        // var socket = io.connect('', {  query: 'token=' + token});

                        // TODO in server .on('connection' get the token and recover user !!!!  *******************************************

/*
  connect event , see : https://socket.io/docs/v4/client-socket-instance/

This event is fired by the Socket instance upon connection and reconnection.

socket.on("connect", () => {
  // ...
});

Please note that you shouldn't register event handlers in the connect handler itself, as a new handler will be registered every time the Socket reconnects:

// BAD
socket.on("connect", () => {
  socket.on("data", () => {  });
});

// GOOD
socket.on("connect", () => {
  // ...
});

socket.on("data", () => {});


*/





  // todo move after socket=   io()                      
    window.addEventListener("load", function () { //when page loads
      var lightbox = document.getElementById("light");
      if(lightbox)lightbox.addEventListener("change", function () { //add event listener for when checkbox changes
        socket.emit("light", Number(this.checked)); //send button status to server (as 1 or 0)
      });
    });

    socket.on('light', function (data) { //get button status from client  data=0/1 ?
      let lightbox=document.getElementById("light");
      if(lightbox){lightbox.checked = data; //change checkbox according to push button on Raspberry Pi  
      socket.emit("light", data); //send push button status to back to server
      }
    });

socket.on('view', function (data) { // data = context={ejscont{pumps:[{id:'pdc',title:'pompa calore'},{id:'g',title:'zona giorno'}]},scope:{relaisEv}};

let relaisEv=data.scope.relaisEv,// to config the service functions
ejscont=data.ejscont,
div = document.getElementById("pumplist");


ejscont.pumps.forEach((el,ind)=>{


let p = document.createElement("p");//    <p><input type="checkbox" id=< %=product.id % > > < %=product.title % ></p>
  let x = document.createElement("INPUT");
  x.setAttribute("type", "checkbox");
   x.setAttribute("id",el.id);
  x.addEventListener('change',function () { //add event listener for when checkbox changes
    // YYUU
  socket.emit('pump', el.id, Number(this.checked), 'browserchangeflag'); //send browser flag status  to server, similar as HYN
        });
  //function jsFunc() {document.getElementById("io").style.backgroundColor = "Purple";}

  p.append(x,el.title);//p.append(x,el.title,"select it");
// p.appendChild(x);
div.append( p);
//div.innerHTML += `<br> &nbsp; &ensp; &emsp; ciao <br><h1>${title}</h1>`; // cancella il onchange
});

div = document.getElementById("manlist");// inputs clicked , in manlist , will fire a 

ejscont.pumps.forEach((el,ind)=>{// append to div some paragraphs with input as described in ejscont


let p = document.createElement("p");//    <p><input type="checkbox" id="sm< %=i% >" onclick="man(< %=i% >)">Set Manual</p>
  let x = document.createElement("INPUT"),x1 = document.createElement("INPUT");
 
    x.setAttribute("type", "button"  ); x1.setAttribute("type", "checkbox");

   x.setAttribute("id","sm"+ind);  x1.setAttribute("id","sm_"+ind);
 // // x1.onchange = my2;
 // x1.addEventListener('change',man1(ind) );
 x.addEventListener('click',man1(ind) );
 

  //function jsFunc() {document.getElementById("io").style.backgroundColor = "Purple";}

 p.append(x,"Set Manual");p.append(x1,"Set/Reset");
// p.appendChild(x);
div.append( p);
//div.innerHTML += `<br> &nbsp; &ensp; &emsp; ciao <br><h1>${title}</h1>`; // cancella il onchange




function man1(id) { 
      return function(){
     
      let elm,elm1;
      if ((elm=document.getElementById('cars'+id))&&(elm1=document.getElementById('sm_'+id))) { // se un elemento con l'identificativo specificato esiste,


     let res=elm.value;//this.value;

 let val_,checked_;
    if(!Number.isNaN(val_=Number(res))&&!Number.isNaN(checked_=Number(elm1.checked))){// res is conveted to integer
 socket.emit('manualAlgoProposal', el.id, val_, 'browserchangeflag',checked_); //send browser flag status  to server, similar as HYN
        }else;
      

    }

    }}

});





div = document.getElementById("mansetlist");

ejscont.pumps.forEach((el,ind)=>{


let p = document.createElement("p");//    <p>>&emsp; <input type="checkbox" id="m< %=i% >" style="display:none">set manual for 3 hours</p>

/*
  let x = document.createElement("INPUT");
  x.setAttribute("type", "checkbox");*/
  
  
//  var myParent = document.getElementById('pcont');

//Create array of options to be added
var array = ["1","0"];//array = ["on","off"];
var array1 = ["1","0"];

//Create and append select list
let x = document.createElement("select");
x.id = "cars"+ind;
//myParent.appendChild(x);

//Create and append the options
for (var i = 0; i < array.length; i++) {
    var option = document.createElement("option");
    option.value = array[i];
    option.text = array1[i];
    x.appendChild(option);
}



 // x.onchange = my2;
// no more used   x.addEventListener('change',setManual);
      // same as YYUU TODO LASCIARNE SOLO UNO !!!!!!!!
let ws=p;// not x 
      ws.setAttribute("id","m"+ind);
   ws.setAttribute("stile","display:none");
  
  //function jsFunc() {document.getElementById("io").style.backgroundColor = "Purple";}

 p.append(x,"set manual for this day");// or appendChild  ???
// p.appendChild(x);
div.append( p);
//div.innerHTML += `<br> &nbsp; &ensp; &emsp; ciao <br><h1>${title}</h1>`; // cancella il onchange

function setManual() {
let res;
if(this.value){res=this.value;
 this.value=null;// to reset valut for next change
 let val_;
    if(!Number.isNaN(val_=Number(res))){// res is conveted to integer
 socket.emit('manualAlgoProposal', el.id, val_, 'browserchangeflag'); //send browser flag status  to server, similar as HYN
        }else;
      }
}
});




      //alert(' view calling cambiastato');
      setViewStato("VDM001", data);

    });

    // the change staus pump events :
    socket.on('pump', function (pump, data) { // handler of  socket.emit(pumpName, data=value=0/1
      // pump must be in  relaisEv=['pdc','g','n','s'];, see after

      // todo : here the code serving the request in id="button" andata a buonfine sul server fv.sia ch il ctl app2 sia gia instanzato che nel caso di una instanzazione
      //      

      // let section=document.getElementById("VDM001"); //change checkbox according to push button on Raspberry Pi
      // set prop style="display:block">  NNHH
      // set new field wih content >data   ?
      if (al) alert(' changing status : ', data, ' x  pump ', pump,'socket id ',socket.id);
      console.log(' event pump called to set pump: ', pump, ' value: ', data);
      let myck = document.getElementById(pump);
      if (myck) {
        myck.checked = data; //change checkbox according to push button on Raspberry Pi  
        socket.emit('pump', pump, data, 'browser_pump_Handler'); //  HYN send push button status to back to server  
        // in fv3 :
        //  - as button handler or 
        //  - setpumps/attuators algo     
        //  is called:  socket.emit('pump',pumpName, lightvalue); 
        // pump must be in  relaisEv=['pdc','g','n','s'];, 
        //  
      }
    });


    //  relays : https://www.norobot.it/nascondere-e-mostrare-elementi-in-una-pagina-web/#btn001
    // pdc relay
   // let relaisEv = ['heat', 'pdc', 'g', 'n', 's', "split"];// same as fv3.js , socket event to sync raspberry buttons and web button, same as fv3.js
    // >>>>>>>>> todo   add here and in fv3 a new item : heatht !!!!!!!!!!!!!!
 //   let relaisEv=  // from serialize and parsing of : < %- scope.relaisEv % >
 //   		relaisEv_;// from js download 


   /* window.addEventListener("load", function () { //when page loads

      let box;
// move after 

      relaisEv.forEach((pump, ind) => {// socket event to sync raspberry buttons and web button load from a downloaded json file ?
        //// pump must be in  relaisEv=['pdc','g','n','s'];, see after
        box = document.getElementById(pump);
        console.log(' registering handler for id: ', pump);
        if (box) box.addEventListener("change", function () { //add event listener for when checkbox changes
          socket.emit('pump', pump, Number(this.checked), 'browserchangeflag'); //send browser flag status  to server, similar as HYN
        });
      });
    });
    */

    let relaisEv ;// filled in    ex = ['heat', 'pdc', 'g', 'n', 's', "split"];/
    let triggers_ = document.getElementById("triggers").elements;// form elements got by name
    let extract = ["PdCTrig", "temp", "PdCTrig1", "FVPower", "Tmax", "Psav", "Bsav"], triggers = {};// extract when receive status and use when send the start algo event

    // send receive program algo staff 
    let triggers2_ = document.getElementById("triggers2").elements;// form elements
    let extract2 = ["Tgiorno","PGMgiorno","Tnotte","PGMnotte","Tacs","PGMacs","lastT","mapping","probMapping","ei","TgiornoTollerance","TacsTollerance"],// name in form triggers2 that are in triggers{} and in lastT
     triggers2 = {};// extract

    socket.on('status', function (data,prettyjson) { //get button status from client, see https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_textarea
      //change all state info escluding the pump lags managed by 'pump' event , so only mirroring state info without any funcionality
      document.getElementById("w3review").value =prettyjson;
      lastState=data;
      // JSON.stringify(data, null, ' ').replace(/: {/g, `${' '.repeat(5)}: \{`).replace(/: \{\n\s+/g, ': {').replace(/",\n\s+/g, ', ').replace(/"\n\s+\}/g, '}'); //Done all at once
      /*
      let data = JSON.stringify(myJSON, null, ' ').replace(/: {/g, `${' '.repeat(5)}: \{`); //Set the key spacing
          data = data.replace(/: \{\n\s+/g, ': {'); //Bring the child bracket on the same line
          data = data.replace(/",\n\s+/g, ', '); //Bring all the other objects for that array up
          data = data.replace(/"\n\s+\}/g, '}'); //Pull the closing bracket on the same line
        */
      //document.getElementById("w3review").value = JSON.stringify(data, null, 2);
      console.log('event status, received data : ', JSON.stringify(data, null, 2));
      if(data.relHistory)console.log('event status, relHistory dim: ',data.relHistory.length);// 
      let mel = document.getElementById("activate");
      let act = false;
      if (mel) {
        if (data.anticipate) {
          act = true;
          mel.value = "ACTIVE";
          mel.style.background = "#00f300";
        } else {
          mel.value = "INACTIVE";
          mel.style.background = "#f30000";

        }
      }
      // could also fill hour field  and triggers it running procudure is active (not relays !) 
      if (act) {// anticipate active
        let start = document.getElementById("hourin"),
          stop = document.getElementById("hourout"),
          interval = document.getElementById("hourinterval");

        start.value = data.anticipate.starthour;
        stop.value = data.anticipate.stophour;
        interval.value = data.anticipate.dminutes;
        // TODO mancano  triggers !
        let triggers = data.anticipate.triggers;
        // ....

        // for (let x in triggers) {// should be = to extract
        //  el=trigger[x];} 

        extract.forEach((val, ind) => {
          let el = triggers_[val];
          if (el) {
            if (el.type == 'checkbox') triggers_[val].checked = triggers[val];
            else triggers_[val].value = triggers[val];
          }

        });
      }
        // todo with extract2

      mel = document.getElementById("programming");
      act = false;
      if (mel) {
        if (data.program) {
          act = true;
          mel.value = "ACTIVE";
          mel.style.background = "#00f300";
        } else {
          mel.value = "INACTIVE";
          mel.style.background = "#f30000";

        }
      }
      // could also fill hour field  and triggers it running procudure is active (not relays !) 
      if (act) {// program active
        let start = document.getElementById("hourin2"),
          stop = document.getElementById("hourout2"),
          interval = document.getElementById("hourinterval2");

        start.value = data.program.starthour;
        stop.value = data.program.stophour;
        interval.value = data.program.dminutes;
        // TODO mancano  triggers !
        let triggers2 = data.program.triggers2;
        // ....

        // for (let x in triggers) {// should be = to extract
        //  el=trigger[x];} 

        extract2.forEach((val, ind) => {// extract in triggers2 keys in  extract2, assign .triggers2[key] to form el named key.
                                        // only the key='lastT' assign the value of .lastT[1] to lastT element
          let el = triggers2_[val],cont;
          if (el) {
            if(val=='lastT'&&triggers2[val]){// .lastT 
                cont=JSON.stringify(triggers2[val][1]);
                triggers2_[val].value=cont;}
            else if(val=='PGMgiorno'&&triggers2[val]){



                /*
                if(triggers2.triggers2.TnotteToll){// insert tollerance obj
                  triggers2.triggers2.TnotteTol={};


                     if(triggers2.PGMgiornoToll)sched.giorno.toll=triggers2.PGMgiornoToll;// tolleranze (un valore x all), same keys of sched.giorno.sched
                  
                }*/
                let tollerance=0;
                if(triggers2&&triggers2.TgiornoToll){// {"8:30":1.5,,,}  // TODO  is still not deined now 
                  // get first val 
                  let ks=Object.keys(triggers2.TgiornoToll);
                  for(let ii=0;ii<ks.length;ii++){
                  if(triggers2.TgiornoToll[ks[ii]]>tollerance)
                  {tollerance=triggers2.TgiornoToll[ks[ii]];// take the max !!
                  if(triggers2.PGMgiorno[ks]!=null){// must be same keys
                    triggers2.PGMgiorno[ks]+=1000;// add toll
                  }
                  }
                }
                triggers2_.TgiornoTollerance.value=tollerance;
                }
                triggers2_[val].value=JSON.stringify(triggers2[val]);
              }
            else if(val=='PGMnotte'&&triggers2[val]){
              let tollerance=0;
                if(triggers2&&triggers2.TnotteToll){// {"8:30":1.5,,,}
                  // get first val 
                  let ks=Object.keys(triggers2.TnotteToll);
                  for(let ii=0;ii<ks.length;ii++){
                  if(triggers2.TnotteToll[ks[ii]]>tollerance)
                  {tollerance=triggers2.triggers2.TnotteToll[ks[ii]];// first found is x all !!
                  if(triggers2.PGMnotte[ks]!=null){// must be same keys
                    triggers2.PGMnotte[ks]+=1000;// add toll
                  }
                  }

                }
                triggers2_.TnotteTollerance.value=tollerance;
                }
                triggers2_[val].value=JSON.stringify(triggers2[val]);

            }else if(val=='PGMacs'&&triggers2[val]){
              let tollerance=0;
                if(triggers2&&triggers2.TacsToll){// {"8:30":1.5,,,}
                  // get first val 
                  let ks=Object.keys(triggers2.TacsToll);
                  for(let ii=0;ii<ks.length;ii++){
                  if(triggers2.TacsToll[ks[ii]]>tollerance)
                  {tollerance=triggers2.triggers2.TacsToll[ks[ii]];// first found is x all !!
                  if(triggers2.PGMacs[ks]!=null){// must be same keys
                    triggers2.PGMacs[ks]+=1000;// add toll
                  }
                  }

                }
                triggers2_.TacsTollerance.value=tollerance;
                }
                triggers2_[val].value=JSON.stringify(triggers2[val]);

            }else if (el.type == 'checkbox') triggers2_[val].checked = triggers2[val];
            else triggers2_[val].value = triggers2[val];
          }
        });

        // fille zone attive checkando il html e non da status.relays ???
        let azel=document.getElementById("actZones"),zons=[];
        if(azel){if(document.getElementById("g").checked)zons.push('giorno');
                  if(document.getElementById("n").checked)zons.push('notte');
                  if(document.getElementById("s").checked)zons.push('seminterrato');
                  azel.innerHTML = 'zone attive: '+zons;

        }
      }
    });



    function startctl() {
      // client =  from token/client :
      //  client={ pumps, aiax end point , name, plantslist=[],  }
      // so from client data , configure the client view (pumps/relays aiax end points in ctl events, ,......)
      /*  ex: building spa using :
            newMessageDiv = document.createElement("div");
            newMessageDiv.textContent = event.data;

            messageDiv.appendChild(newMessageDiv);
      }
      */
      // here start socket passing the token in query string !
      // or in a event login/startuserplant  that registet the user that needs to work on many events 

      // see https://www.norobot.it/nascondere-e-mostrare-elementi-in-una-pagina-web/#btn001   NNHH
      let mydemo = document.getElementById("myTempl").value,
        feat = document.getElementById("myFeat").value;
      socket.emit("startuserplant", mydemo, feat); //send push button status to back to server
    }



    function startrep() {
      if(lastState.anticipate)  {alert(' please stop before reset');return;}
      let start = document.getElementById("hourin").value,
        stop = document.getElementById("hourout").value,
        interval = document.getElementById("hourinterval").value,// in hours
        count=0;
      //triggers_=document.getElementById("triggers").elements;
      // let extract=["PdCTrig","temp","PdCTrig1","FVPower","Tmax","Psav","Bsav"],triggers={};// extract
      extract.forEach((val, ind) => {
        let el = triggers_[val];
        if (el) {count++;
          if (el.type == 'checkbox') triggers[val] = triggers_[val].checked;
          else triggers[val] = triggers_[val].value;
        }

      });
      if(count>0)
      socket.emit("repeatcheckxSun", start, stop, interval, triggers); //send push button status to back to server, period in minutes
      else alert(' please select some triggers');
    }
    function stoprep() {

      socket.emit("stopRepeat"); //send push button status to back to server

    }

    function startprg() {// transmit  program algo  param and call related event
      if(lastState.program)  {alert(' please stop before reset');return;}
      let start = document.getElementById("hourin2").value,
        stop = document.getElementById("hourout2").value,
        interval = document.getElementById("hourinterval2").value;// in minutes
        if(!start)start=1;if(!stop)stop=23;if(!interval)interval=5;
        let count=0;
      //triggers_=document.getElementById("triggers").elements;
      // let extract=["PdCTrig","temp","PdCTrig1","FVPower","Tmax","Psav","Bsav"],triggers={};// extract
      extract2.forEach((val, ind) => {
        count++;
        let el = triggers2_[val];// form name val
        if (el) {
          if (el.type == 'checkbox') triggers2[val] = triggers2_[val].checked;
          else triggers2[val] = triggers2_[val].value;
        }

      });
        
    if(count>0){
    if(triggers2.PGMgiorno){// transform the json in obj, add   triggers2.TgiornoToll
    
    try {
      triggers2.PGMgiorno=JSON.parse(triggers2.PGMgiorno);//document.getElementById("myprogram").value);
    } catch(e) {
      triggers2.PGMgiorno=null;
      triggers2.Tgiorno=false;
      //  alert(e); // error in the above string (in this case, yes)!
    }
    if(triggers2.PGMgiorno&&triggers2_.TgiornoTollerance&&triggers2_.TgiornoTollerance.value){
      // add triggers2.TgiornoToll
    triggers2.TgiornoToll={};// {'8:30':0,"10:50":1.5}
    let ks=Object.keys(triggers2.PGMgiorno);// PGMgiorno= {'8:30':0,"10:50":1022} >  {'8:30':0,"10:50":22}
                  for(let ii=0;ii<ks.length;ii++){
                    /* old : if >1000 allora setta TgiornoToll con TgiornoTollerance altrimenti 0 
                    // PGMgiorno= {'8:30':0,"10:50":1022} >  {'8:30':0,"10:50":22}
                  if(triggers2.PGMgiorno[ks[ii]]>=1000){// significa vogliamo applicare la tolleranza
                    triggers2.PGMgiorno[ks[ii]]-=1000;
                    triggers2.TgiornoToll[ks[ii]]=triggers2_.TgiornoTollerance.value;
                  }else triggers2.TgiornoToll[ks[ii]]=0;
                  */
                 // now simply fill TgiornoToll con TgiornoTollerance
                    triggers2.TgiornoToll[ks[ii]]=triggers2_.TgiornoTollerance.value;
                  }
                  }
  
  }
  if(triggers2.PGMacs){// transform the json in obj, add   triggers2.TacsToll
    
    try {
      triggers2.PGMacs=JSON.parse(triggers2.PGMacs);//document.getElementById("myprogram").value);
    } catch(e) {
      triggers2.PGMacs=null;
      triggers2.Tacs=false;
      //  alert(e); // error in the above string (in this case, yes)!
    }
    if(triggers2.PGMacs&&triggers2_.TacsTollerance&&triggers2_.TacsTollerance.value){
      // add triggers2.TacsToll
    triggers2.TacsToll={};// {'8:30':0,"10:50":1.5}
    let ks=Object.keys(triggers2.PGMacs);// PGMacs= {'8:30':0,"10:50":1022} >  {'8:30':0,"10:50":22}
                  for(let ii=0;ii<ks.length;ii++){
                    /* old : if >1000 allora setta TgiornoToll con TgiornoTollerance altrimenti 0 
                    // PGMgiorno= {'8:30':0,"10:50":1022} >  {'8:30':0,"10:50":22}
                  if(triggers2.PGMgiorno[ks[ii]]>=1000){// significa vogliamo applicare la tolleranza
                    triggers2.PGMgiorno[ks[ii]]-=1000;
                    triggers2.TgiornoToll[ks[ii]]=triggers2_.TgiornoTollerance.value;
                  }else triggers2.TgiornoToll[ks[ii]]=0;
                  */
                 // now simply fill TgiornoToll con TgiornoTollerance
                    triggers2.TacsToll[ks[ii]]=triggers2_.TacsTollerance.value;
                  }
                  }
  
  }
    if(triggers2.PGMnotte){
    
    try {
      triggers2.PGMnotte= JSON.parse(triggers2.PGMnotte);//document.getElementById("myprogram").value);
    } catch(e) {
      triggers2.PGMnotte=null;
      triggers2.Tnotte=false;
      //  alert(e); // error in the above string (in this case, yes)!
    }}
    if(triggers2.PGMnotte&&triggers2_.TnotteTollerance&&triggers2_.TnotteTollerance.value){
      // add triggers2.TnotteToll
    triggers2.TnotteToll={};// {'8:30':0,"10:50":1.5}
    let ks=Object.keys(triggers2.PGMnotte);// PGMnotte= {'8:30':0,"10:50":1022} >  {'8:30':0,"10:50":22}
                  for(let ii=0;ii<ks.length;ii++){
                    // todo : as in triggers2.PGMgiorno ???
                  if(triggers2.PGMnotte[ks[ii]]>=1000){// significa vogliamo applicare la tolleranza
                    triggers2.PGMnotte[ks[ii]]-=1000;
                    triggers2.TnotteToll[ks[ii]]=triggers2_.TnotteTollerance.value;
                  }else triggers2.TnotteToll[ks[ii]]=0;
                  }
                  }

      socket.emit("startprogrammer", start, stop, interval, triggers2); //send push button status to back to server. triggers2 keys:extract2 = ["Tgiorno","PGMgiorno","Tnotte","PGMnotte"],
      } else alert(' please select some triggers');
    }
    function stopprg() {

      socket.emit("stopprogrammer"); //send push button status to back to server

    }


    function setprname() { }
    function setprname1(sensor,jsonval) { //alert(JSON.stringify(JSON.parse(document.getElementById("myprogram").value)))

   let cought=false;



    try {
        a = JSON.parse(jsonval);//jsonval.replace(/::/g, ":"));//document.getElementById("myprogram").value); :: means with tollerance
    } catch(e) {
      cought=true;
      //  alert(e); // error in the above string (in this case, yes)!
    }

    // insert tollerance by sign : negative means the slot can hav tollerance = toll



    let mel = document.getElementById("validate"+sensor);

        if (!cought) {
          mel.value = "VALID";
          mel.style.background = "#00f300";
        } else {
          mel.value = "INVALID";
          mel.style.background = "#f30000";

        }
      }
  


    function cambiaStato(id, etichetta) { // cambia ciclicamente la visibilità dell'elemento indicato
      // see https://www.norobot.it/nascondere-e-mostrare-elementi-in-una-pagina-web/#btn001
      if (document.getElementById(id)) { // se un elemento con l'identificativo specificato esiste,
        if (al) alert(' view cambiastato got div el');
        if (document.getElementById(id).style.display == 'none') { // se l'elemento è nascosto,
          document.getElementById(id).style.display = 'block'; // lo visualizza
          if (etichetta) { // se è specificato un termine come secondo parametro,
            document.getElementById('btn' + id.substr(3)).innerHTML = "Nasconde " + etichetta; // aggiorna l'etichetta del pulsante, invertendo l'azione compiuta
          } // fine controllo secondo parametro
        } else { // se invece l'elemento è visualizzato,
          document.getElementById(id).style.display = 'none'; // lo nasconde
          if (etichetta) { // se è specificato un termine come secondo parametro,
            document.getElementById('btn' + id.substr(3)).innerHTML = "Mostra " + etichetta; // aggiorna l'etichetta del pulsante, ripristinando quella originale
          }
        }
      }
    }

    function setViewStato(id, status) { // cambia ciclicamente la visibilità dell'elemento indicato status=0/1. 
                                        // no ora status = plantid config 
                                        // status=ejsCont={} ;   res.render('pages/exindexhtml', status=
                                        //          page updated from index with minimum changs , just build the pump lists !, changes marked as KK
                                        //  status= {plant:'plantname',
                                        //          scope,// obj used to extract obj used to custom the generted spa page ex data.scope (config staff)
                                        //                // obj used to generate dyn html content /
                                        //                // from now is 
                                        //            ejscont}

      // see https://www.norobot.it/nascondere-e-mostrare-elementi-in-una-pagina-web/#btn001
      if (document.getElementById(id)) { // se un elemento con l'identificativo specificato esiste,
        if (al) alert(' view cambiastato is changing status view id:', id);
        if (status) { // 
          
          // build the plant view customiation ( on behalf of ejs)

          // alredy added by caller : buildpumpsview(status);
          
          document.getElementById(id).style.display = 'block'; // lo visualizza


        } else {
          document.getElementById(id).style.display = 'none'; // lo nasconde

        }
      }
    }
    function man(id) { // triggerato da click change in input in 'manual set '
                      //  cambia ciclicamente la visibilità dell'elemento indicato (in choose on/off col) id=sm+id (in manset) status=0/1
      // see https://www.norobot.it/nascondere-e-mostrare-elementi-in-una-pagina-web/#btn001

      return function(){
      let elm;
      if ((elm=document.getElementById('m'+id))) { // se un elemento con l'identificativo specificato esiste,

        if (document.getElementById('sm'+id).checked)  { // this checkbox calling this handler is clicked or unclicked?
          elm.style.display = 'inline'; // se è clicked visualizza l'elemento , same row , in choose on/off col

        } else {
          elm.style.display = 'none'; // altrimenti lo nasconde

        }
      }
    }}






    /*
    const form = document.getElementById('form');
    const log = document.getElementById('log');
    form.addEventListener('submit', logSubmit);
    
    
    <form name="myForm" action="" method="GET">
      Enter something in the box: <br>
      <input type="text" name="inputbox" value="">
      <input type="button" name="button" value="Click" onClick="testResults(this.form)">
    </form>
    */
    function testResults(form) {// traduci i criteri generali in algo trigger parameters
      var inputValue = form.Mod.value;
      console.log("You typed: " + inputValue);
      // now set promps
      if (inputValue == 'SB') {// the radio with name Mod and value 'SB' was selected 

        document.getElementById("FVPower").value = 77;
        document.getElementById("Tmax").value = 24;
        document.getElementById("PdCTrig1").checked = true;

      
    }}
    function testResultsProg(form) {// traduci i criteri generali in algo trigger parameters


      }
function loginhand_(form){}

 function loginhand(form){

        
 //       var querystring = require('querystring');

var postData = JSON.stringify({
    user:form.user.value,password:form.password.value
});
var options = {
    hostname: window.location.hostname,//'localhost',// or http://example.com/
    path: '/login' ,//+ query
    port: 3000,
    method: 'POST',
    headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
        'Content-Length': postData.length
    }
  };

usefetch();
function usehttp(){// not exists




var req = http.request(options, function (res) {//// not exists
    console.log('STATUS:', res.statusCode);
    console.log('HEADERS:', JSON.stringify(res.headers));
    let data='';
    res.setEncoding('utf8');

    res.on('data', function (chunk) {
        console.log('BODY:', chunk);
        data=+chunk;// ?? 
    });

    res.on('end', function () {
        console.log('No more data in response. :',data);
    });
});

req.on('error', function (e) {
    console.log('Problem with request:', e.message);
});

req.write(postData);
req.end();

}
function usefetch(){
  /*
  alternative can use fetch :
  */
  fetch(options.path,
  
  {// see https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch

    method: "POST", // *GET, POST, PUT, DELETE, etc.
    //mode: "cors", // no-cors, *cors, same-origin
    //cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
    //credentials: "same-origin", // include, *same-origin, omit
    headers: {
      "Content-Type": "application/json",
      // 'Content-Type': 'application/x-www-form-urlencoded',
    },
    //redirect: "follow", // manual, *follow, error
    //referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
    body: JSON.stringify(postData), // body data type must match "Content-Type" header
  }).then((response) => response.json())
  .then((data) => {
    console.log(' the token is : ',postData.token)});
    // token=postData.token,client={name,pagecfg:{}}

  
}


/*
or login using session , see https://socket.io/how-to/use-with-express-session :
import express from "express";
import { createServer } from "http";
import { Server } from "socket.io";
import session from "express-session";

const app = express();
const httpServer = createServer(app);

const sessionMiddleware = session({
  secret: "changeit",
  resave: false,
  saveUninitialized: false
});

app.use(sessionMiddleware);

app.post("/login", (req, res) => {
  req.session.authenticated = true;
  res.status(204).end();
});

const io = new Server(httpServer);

// convert a connect middleware to a Socket.IO middleware
const wrap = middleware => (socket, next) => middleware(socket.request, {}, next);

io.use(wrap(sessionMiddleware));

// only allow authenticated users
io.use((socket, next) => {
  const session = socket.request.session;
  if (session && session.authenticated) {
    next();
  } else {
    next(new Error("unauthorized"));
  }
});

io.on("connection", (socket) => {
  console.log(socket.request.session);
});

*/


  }
    

  </script>

<%- include('../partials/footer'); %>
</body>

</html>